<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  

<style>
table, th, td {
    border: 3px black solid;
    border-collapse: collapse;
}
</style>
</head>
<body>

<table style="width:100%">
  <tr>

  <div class="row">
  <div class="col-md-6 col-md-offset-3">
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id , class: 'form-control'%>
  </div>
  <div class="field">
    <%= f.label :bike_id %><br>
    <%= f.number_field :bike_id,class: 'form-control' %>
  </div>
  
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email,class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br>
    <%= f.date_select :start_date,class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :days %><br>
    <%= f.number_field :days,class: 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
  </div>
  </div>
<% end %>
